In [2]:
import pyspark
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("basics").getOrCreate()
spark

### reading csv file

In [3]:
df= spark.read.csv("C:/Users/krish/OneDrive/Documents/UoH/datasets tableau project/water_level_dataset_data_gov_in.csv",header=True)
df.show(3)

+------+--------------+-------------+-------------------------------------------------+------------------------------------------------------+-----------------------------------------------------+----------------------------------------------------------+-----------------------------------+------------------------------+-------------------------------------------+----------------------------------+----------------------------------------------------------+-----------------------+------------------------------------------------------------------+----------------------------------------------------------+---------------------------------------+
|Sl.No |         STATE|     District|Recharge from Rainfall during Monsoon season(Ham)|Recharge From Other Sources during monsoon season(Ham)|Recharge from Rainfall during non-monsoon season(Ham)|Recharge From Other Sources during non-monsoon season(Ham)|Annual Replenishable resources(Ham)|Annual Natural Discharge (Ham)|Net Annual Ground Water Availability  (Ham)|Draft due to Irrigation Needs(Ham)|Draft due to Domestic & Industrial Water Supply Needs(Ham)|Total annual Draft(Ham)|Projected demand for Domestic and Industrial uses  upto 2025 (Ham)| Ground Water Availability for Future Irrigation use (Ham)|Stage of Ground Water Develop ment (%) |
+------+--------------+-------------+-------------------------------------------------+------------------------------------------------------+-----------------------------------------------------+----------------------------------------------------------+-----------------------------------+------------------------------+-------------------------------------------+----------------------------------+----------------------------------------------------------+-----------------------+------------------------------------------------------------------+----------------------------------------------------------+---------------------------------------+
|     1|ANDHRA PRADESH|   Srikakulam|                                            40417|                                                 38297|                                                24646|                                                     19754|                             123115|                         11733|                                     111382|                             38291|                                                      4504|                  42795|                                                             17584|                                                     62902|                                     38|
|     2|ANDHRA PRADESH| Vizianagaram|                                            42539|                                                 22254|                                                28250|                                                      7492|                             100534|                          8936|                                      91598|                             16894|                                                       918|                  17812|                                                              6116|                                                     68723|                                     19|
|     3|ANDHRA PRADESH|Visakhapatnam|                                            73586|                                                  5905|                                                13328|                                                      5271|                              98090|                          8636|                                      89454|                             13442|                                                      4485|                  17927|                                                             12541|                                                     63470|                                     20|
+------+--------------+-------------+-------------------------------------------------+------------------------------------------------------+-----------------------------------------------------+----------------------------------------------------------+-----------------------------------+------------------------------+-------------------------------------------+----------------------------------+----------------------------------------------------------+-----------------------+------------------------------------------------------------------+----------------------------------------------------------+---------------------------------------+
only showing top 3 rows

### printing schema of the file

In [4]:
df.printSchema()

root
 |-- Sl.No : string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Recharge from Rainfall during Monsoon season(Ham): string (nullable = true)
 |-- Recharge From Other Sources during monsoon season(Ham): string (nullable = true)
 |-- Recharge from Rainfall during non-monsoon season(Ham): string (nullable = true)
 |-- Recharge From Other Sources during non-monsoon season(Ham): string (nullable = true)
 |-- Annual Replenishable resources(Ham): string (nullable = true)
 |-- Annual Natural Discharge (Ham): string (nullable = true)
 |-- Net Annual Ground Water Availability  (Ham): string (nullable = true)
 |-- Draft due to Irrigation Needs(Ham): string (nullable = true)
 |-- Draft due to Domestic & Industrial Water Supply Needs(Ham): string (nullable = true)
 |-- Total annual Draft(Ham): string (nullable = true)
 |-- Projected demand for Domestic and Industrial uses  upto 2025 (Ham): string (nullable = true)
 |--  Ground Water Availability for Future Irrigation use (Ham): string (nullable = true)
 |-- Stage of Ground Water Develop ment (%) : string (nullable = true)

### reading file with custom defined schema

In [5]:
from pyspark.sql.types import StructField,IntegerType,StringType,StructType,FloatType,DoubleType
myschema= StructType([
    StructField('Sl_No',IntegerType()),
    StructField('state',StringType()),
    StructField('district',StringType()),
    StructField('Recharge_from_Rainfall_during_Monsoon_season',DoubleType()),
    StructField('Recharge_From_Other_Sources_during_monsoon_season',DoubleType()),
    StructField('Recharge_from_Rainfall_during_non_monsoon_season',DoubleType()),
    StructField('Recharge_From_Other_Sources_during_non_monsoon_season',DoubleType()),
    StructField('Annual_Replenishable_resources',DoubleType()),
    StructField('Annual_Natural_Discharge',DoubleType()),
    StructField('Net_Annual_Ground_Water_Availability',DoubleType()),
    StructField('Draft_due_to_Irrigation_Needs',DoubleType()),
    StructField('Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs',DoubleType()),
    StructField('Total_annual_Draft',DoubleType()),
    StructField('Projected_demand_for_Domestic_and_Industrial_uses_upto_2025',DoubleType()),
    StructField('Ground_Water_Availability_for_Future_Irrigation_use',DoubleType()),
    StructField('Stage_of_Ground_Water_Development',DoubleType())    
])
df_new=spark.read.csv("C:/Users/krish/OneDrive/Documents/UoH/datasets tableau project/water_level_dataset_data_gov_in.csv",header=True, schema=myschema)
df_new.show()

+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|            state|           district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|    1|   ANDHRA PRADESH|         Srikakulam|                                     40417.0|                                          38297.0|                                         24646.0|                                              19754.0|                      123115.0|                 11733.0|                            111382.0|                      38291.0|                                                 4504.0|           42795.0|                                                    17584.0|                                            62902.0|                             38.0|
|    2|   ANDHRA PRADESH|       Vizianagaram|                                     42539.0|                                          22254.0|                                         28250.0|                                               7492.0|                      100534.0|                  8936.0|                             91598.0|                      16894.0|                                                  918.0|           17812.0|                                                     6116.0|                                            68723.0|                             19.0|
|    3|   ANDHRA PRADESH|      Visakhapatnam|                                     73586.0|                                           5905.0|                                         13328.0|                                               5271.0|                       98090.0|                  8636.0|                             89454.0|                      13442.0|                                                 4485.0|           17927.0|                                                    12541.0|                                            63470.0|                             20.0|
|    4|   ANDHRA PRADESH|      East Godavari|                                     69958.0|                                          37094.0|                                         38290.0|                                              24618.0|                      169960.0|                 16007.0|                            153953.0|                      33967.0|                                                 9075.0|           43042.0|                                                    14482.0|                                           106654.0|                             28.0|
|    5|   ANDHRA PRADESH|      West Godavari|                                     58870.0|                                          42876.0|                                         23364.0|                                              45290.0|                      170399.0|                 16033.0|                            154366.0|                      59783.0|                                                  967.0|           60750.0|                                                    10080.0|                                            85823.0|                             39.0|
|    6|   ANDHRA PRADESH|            Krishna|                                     47059.0|                                          63644.0|                                         22479.0|                                              17616.0|                      150798.0|                 14502.0|                            136296.0|                      45270.0|                                                 9539.0|           54809.0|                                                     9539.0|                                            82026.0|                             40.0|
|    7|   ANDHRA PRADESH|             Guntur|                                     37569.0|                                          83241.0|                                         24505.0|                                              18180.0|                      163499.0|                 15955.0|                         147544.1843|                      40902.0|                                                 6545.0|           47447.0|                                                    14685.0|                                           100727.0|                             32.0|
|    8|   ANDHRA PRADESH|           Prakasam|                                     57624.0|                                          20460.0|                                         25579.0|                                              68527.0|                      172190.0|                 16194.0|                         155996.3639|                      50627.0|                                                 2120.0|           52747.0|                                                     9677.0|                                           100062.0|                             34.0|
|    9|   ANDHRA PRADESH|            Nellore|                                    160189.0|                                          36313.0|                                           772.0|                                              85132.0|                      282406.0|                 25677.0|                            256729.0|                      74470.0|                                                 5804.0|           80274.0|                                                     9535.0|                                           172725.0|                             31.0|
|   10|   ANDHRA PRADESH|           Chittoor|                                    134147.0|                                          15718.0|                                          9185.0|                                              23505.0|                      182555.0|                 17673.0|                            164882.0|                     100549.0|                                                17147.0|          117696.0|                                                    18817.0|                                            47341.0|                             71.0|
|   11|   ANDHRA PRADESH|             Kadapa|                                     47303.0|                                           9645.0|                                         38097.0|                                              14720.0|                      109765.0|                 10507.0|                             99258.0|                      63987.0|                                                 5780.0|           69767.0|                                                     9456.0|                                            27016.0|                             70.0|
|   12|   ANDHRA PRADESH|          Anantapur|                                     70802.0|                                          19520.0|                                         43047.0|                                              31393.0|                      164762.0|                 15225.0|                            149537.0|                     129642.0|                                                10730.0|          140372.0|                                                    18684.0|                                            34765.0|                             94.0|
|   13|   ANDHRA PRADESH|            Kurnool|                                     56720.0|                                          30261.0|                                         29164.0|                                              35273.0|                      151418.0|                 14353.0|                            137065.0|                      61274.0|                                                 3688.0|           64962.0|                                                    13214.0|                                            68736.0|                             47.0|
|   14|ARUNACHAL PRADESH|              Tirap|                                      7208.0|                                             0.07|                                          2044.0|                                                  0.1|                       9252.17|                   925.0|                             8327.17|                          2.8|                                                   17.8|              20.6|                                                       57.0|                                            8267.37|                      0.247382964|
|   15|ARUNACHAL PRADESH|          Changlang|                                     20761.0|                                            17.83|                                          6907.0|                                                26.74|                      27712.57|                  2771.0|                            24941.57|                         25.5|                                                   98.7|             124.2|                                                      204.0|                                           24712.07|                      0.497963841|
|   16|ARUNACHAL PRADESH|              Lohit|                                    142890.0|                                              0.0|                                         52307.0|                                                  0.0|                      195197.0|                 19520.0|                            175677.0|                          5.3|                                                  252.8|             258.1|                                                     1081.0|                                           174590.7|                      0.146917354|
|   17|ARUNACHAL PRADESH|              Anjaw|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
|   18|ARUNACHAL PRADESH|      Dibang valley|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
|   19|ARUNACHAL PRADESH|Lower Dibang Valley|                                     70406.0|                                              0.0|                                         24947.0|                                                  0.0|                       95353.0|                  9535.0|                             85818.0|                         33.5|                                                   48.0|              81.5|                                                      161.0|                                            85623.5|                      0.094968422|
|   20|ARUNACHAL PRADESH|         East Siang|                                     60304.0|                                             8.07|                                         14949.0|                                                 12.1|                      75273.17|                  7527.0|                            67746.17|                         70.6|                                                  179.0|             249.6|                                                      366.0|                                           67309.57|                      0.368434112|
+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
only showing top 20 rows

In [6]:
df_new.printSchema()
#df1=df.drop((col("_c0")=='662')).collect()

root
 |-- Sl_No: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- district: string (nullable = true)
 |-- Recharge_from_Rainfall_during_Monsoon_season: double (nullable = true)
 |-- Recharge_From_Other_Sources_during_monsoon_season: double (nullable = true)
 |-- Recharge_from_Rainfall_during_non_monsoon_season: double (nullable = true)
 |-- Recharge_From_Other_Sources_during_non_monsoon_season: double (nullable = true)
 |-- Annual_Replenishable_resources: double (nullable = true)
 |-- Annual_Natural_Discharge: double (nullable = true)
 |-- Net_Annual_Ground_Water_Availability: double (nullable = true)
 |-- Draft_due_to_Irrigation_Needs: double (nullable = true)
 |-- Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs: double (nullable = true)
 |-- Total_annual_Draft: double (nullable = true)
 |-- Projected_demand_for_Domestic_and_Industrial_uses_upto_2025: double (nullable = true)
 |-- Ground_Water_Availability_for_Future_Irrigation_use: double (nullable = true)
 |-- Stage_of_Ground_Water_Development: double (nullable = true)

In [7]:
type(df_new)

pyspark.sql.dataframe.DataFrame

In [8]:
df_new.describe()

DataFrame[summary: string, Sl_No: string, state: string, district: string, Recharge_from_Rainfall_during_Monsoon_season: string, Recharge_From_Other_Sources_during_monsoon_season: string, Recharge_from_Rainfall_during_non_monsoon_season: string, Recharge_From_Other_Sources_during_non_monsoon_season: string, Annual_Replenishable_resources: string, Annual_Natural_Discharge: string, Net_Annual_Ground_Water_Availability: string, Draft_due_to_Irrigation_Needs: string, Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs: string, Total_annual_Draft: string, Projected_demand_for_Domestic_and_Industrial_uses_upto_2025: string, Ground_Water_Availability_for_Future_Irrigation_use: string, Stage_of_Ground_Water_Development: string]

In [9]:
df_new.show()

+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|            state|           district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|    1|   ANDHRA PRADESH|         Srikakulam|                                     40417.0|                                          38297.0|                                         24646.0|                                              19754.0|                      123115.0|                 11733.0|                            111382.0|                      38291.0|                                                 4504.0|           42795.0|                                                    17584.0|                                            62902.0|                             38.0|
|    2|   ANDHRA PRADESH|       Vizianagaram|                                     42539.0|                                          22254.0|                                         28250.0|                                               7492.0|                      100534.0|                  8936.0|                             91598.0|                      16894.0|                                                  918.0|           17812.0|                                                     6116.0|                                            68723.0|                             19.0|
|    3|   ANDHRA PRADESH|      Visakhapatnam|                                     73586.0|                                           5905.0|                                         13328.0|                                               5271.0|                       98090.0|                  8636.0|                             89454.0|                      13442.0|                                                 4485.0|           17927.0|                                                    12541.0|                                            63470.0|                             20.0|
|    4|   ANDHRA PRADESH|      East Godavari|                                     69958.0|                                          37094.0|                                         38290.0|                                              24618.0|                      169960.0|                 16007.0|                            153953.0|                      33967.0|                                                 9075.0|           43042.0|                                                    14482.0|                                           106654.0|                             28.0|
|    5|   ANDHRA PRADESH|      West Godavari|                                     58870.0|                                          42876.0|                                         23364.0|                                              45290.0|                      170399.0|                 16033.0|                            154366.0|                      59783.0|                                                  967.0|           60750.0|                                                    10080.0|                                            85823.0|                             39.0|
|    6|   ANDHRA PRADESH|            Krishna|                                     47059.0|                                          63644.0|                                         22479.0|                                              17616.0|                      150798.0|                 14502.0|                            136296.0|                      45270.0|                                                 9539.0|           54809.0|                                                     9539.0|                                            82026.0|                             40.0|
|    7|   ANDHRA PRADESH|             Guntur|                                     37569.0|                                          83241.0|                                         24505.0|                                              18180.0|                      163499.0|                 15955.0|                         147544.1843|                      40902.0|                                                 6545.0|           47447.0|                                                    14685.0|                                           100727.0|                             32.0|
|    8|   ANDHRA PRADESH|           Prakasam|                                     57624.0|                                          20460.0|                                         25579.0|                                              68527.0|                      172190.0|                 16194.0|                         155996.3639|                      50627.0|                                                 2120.0|           52747.0|                                                     9677.0|                                           100062.0|                             34.0|
|    9|   ANDHRA PRADESH|            Nellore|                                    160189.0|                                          36313.0|                                           772.0|                                              85132.0|                      282406.0|                 25677.0|                            256729.0|                      74470.0|                                                 5804.0|           80274.0|                                                     9535.0|                                           172725.0|                             31.0|
|   10|   ANDHRA PRADESH|           Chittoor|                                    134147.0|                                          15718.0|                                          9185.0|                                              23505.0|                      182555.0|                 17673.0|                            164882.0|                     100549.0|                                                17147.0|          117696.0|                                                    18817.0|                                            47341.0|                             71.0|
|   11|   ANDHRA PRADESH|             Kadapa|                                     47303.0|                                           9645.0|                                         38097.0|                                              14720.0|                      109765.0|                 10507.0|                             99258.0|                      63987.0|                                                 5780.0|           69767.0|                                                     9456.0|                                            27016.0|                             70.0|
|   12|   ANDHRA PRADESH|          Anantapur|                                     70802.0|                                          19520.0|                                         43047.0|                                              31393.0|                      164762.0|                 15225.0|                            149537.0|                     129642.0|                                                10730.0|          140372.0|                                                    18684.0|                                            34765.0|                             94.0|
|   13|   ANDHRA PRADESH|            Kurnool|                                     56720.0|                                          30261.0|                                         29164.0|                                              35273.0|                      151418.0|                 14353.0|                            137065.0|                      61274.0|                                                 3688.0|           64962.0|                                                    13214.0|                                            68736.0|                             47.0|
|   14|ARUNACHAL PRADESH|              Tirap|                                      7208.0|                                             0.07|                                          2044.0|                                                  0.1|                       9252.17|                   925.0|                             8327.17|                          2.8|                                                   17.8|              20.6|                                                       57.0|                                            8267.37|                      0.247382964|
|   15|ARUNACHAL PRADESH|          Changlang|                                     20761.0|                                            17.83|                                          6907.0|                                                26.74|                      27712.57|                  2771.0|                            24941.57|                         25.5|                                                   98.7|             124.2|                                                      204.0|                                           24712.07|                      0.497963841|
|   16|ARUNACHAL PRADESH|              Lohit|                                    142890.0|                                              0.0|                                         52307.0|                                                  0.0|                      195197.0|                 19520.0|                            175677.0|                          5.3|                                                  252.8|             258.1|                                                     1081.0|                                           174590.7|                      0.146917354|
|   17|ARUNACHAL PRADESH|              Anjaw|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
|   18|ARUNACHAL PRADESH|      Dibang valley|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
|   19|ARUNACHAL PRADESH|Lower Dibang Valley|                                     70406.0|                                              0.0|                                         24947.0|                                                  0.0|                       95353.0|                  9535.0|                             85818.0|                         33.5|                                                   48.0|              81.5|                                                      161.0|                                            85623.5|                      0.094968422|
|   20|ARUNACHAL PRADESH|         East Siang|                                     60304.0|                                             8.07|                                         14949.0|                                                 12.1|                      75273.17|                  7527.0|                            67746.17|                         70.6|                                                  179.0|             249.6|                                                      366.0|                                           67309.57|                      0.368434112|
+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
only showing top 20 rows

In [10]:
df_new.count()

662

### viewing top rows of single column

In [11]:
df_new.select('state').show()

+-----------------+
|            state|
+-----------------+
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|   ANDHRA PRADESH|
|ARUNACHAL PRADESH|
|ARUNACHAL PRADESH|
|ARUNACHAL PRADESH|
|ARUNACHAL PRADESH|
|ARUNACHAL PRADESH|
|ARUNACHAL PRADESH|
|ARUNACHAL PRADESH|
+-----------------+
only showing top 20 rows

### viewing data of multiple columns

In [12]:
df_new.select('Sl_No','Stage_of_Ground_Water_Development').show(30)

+-----+---------------------------------+
|Sl_No|Stage_of_Ground_Water_Development|
+-----+---------------------------------+
|    1|                             38.0|
|    2|                             19.0|
|    3|                             20.0|
|    4|                             28.0|
|    5|                             39.0|
|    6|                             40.0|
|    7|                             32.0|
|    8|                             34.0|
|    9|                             31.0|
|   10|                             71.0|
|   11|                             70.0|
|   12|                             94.0|
|   13|                             47.0|
|   14|                      0.247382964|
|   15|                      0.497963841|
|   16|                      0.146917354|
|   17|                              0.0|
|   18|                              0.0|
|   19|                      0.094968422|
|   20|                      0.368434112|
|   21|                      0.446344085|
|   22|                              0.0|
|   23|                      0.118603863|
|   24|                              0.0|
|   25|                      0.216628396|
|   26|                              0.0|
|   27|                      1.185044636|
|   28|                              0.0|
|   29|                              0.0|
|   30|                              9.0|
+-----+---------------------------------+
only showing top 30 rows

### sorting data based on a column data

In [13]:
df_new.orderBy(df_new.state.asc()).show()

+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|            state|           district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  645|ANDAMAN & NICOBAR|  Andaman & Nicobar|                                   38116.025|                                         3824.791|                                          19.559|                                                 4.89|                     41965.266|                4196.527|                           37768.739|                       14.579|                                                354.783|           369.362|                                                   1615.437|                                          36138.723|                              1.0|
|    1|   ANDHRA PRADESH|         Srikakulam|                                     40417.0|                                          38297.0|                                         24646.0|                                              19754.0|                      123115.0|                 11733.0|                            111382.0|                      38291.0|                                                 4504.0|           42795.0|                                                    17584.0|                                            62902.0|                             38.0|
|    5|   ANDHRA PRADESH|      West Godavari|                                     58870.0|                                          42876.0|                                         23364.0|                                              45290.0|                      170399.0|                 16033.0|                            154366.0|                      59783.0|                                                  967.0|           60750.0|                                                    10080.0|                                            85823.0|                             39.0|
|    2|   ANDHRA PRADESH|       Vizianagaram|                                     42539.0|                                          22254.0|                                         28250.0|                                               7492.0|                      100534.0|                  8936.0|                             91598.0|                      16894.0|                                                  918.0|           17812.0|                                                     6116.0|                                            68723.0|                             19.0|
|    3|   ANDHRA PRADESH|      Visakhapatnam|                                     73586.0|                                           5905.0|                                         13328.0|                                               5271.0|                       98090.0|                  8636.0|                             89454.0|                      13442.0|                                                 4485.0|           17927.0|                                                    12541.0|                                            63470.0|                             20.0|
|   10|   ANDHRA PRADESH|           Chittoor|                                    134147.0|                                          15718.0|                                          9185.0|                                              23505.0|                      182555.0|                 17673.0|                            164882.0|                     100549.0|                                                17147.0|          117696.0|                                                    18817.0|                                            47341.0|                             71.0|
|   11|   ANDHRA PRADESH|             Kadapa|                                     47303.0|                                           9645.0|                                         38097.0|                                              14720.0|                      109765.0|                 10507.0|                             99258.0|                      63987.0|                                                 5780.0|           69767.0|                                                     9456.0|                                            27016.0|                             70.0|
|   12|   ANDHRA PRADESH|          Anantapur|                                     70802.0|                                          19520.0|                                         43047.0|                                              31393.0|                      164762.0|                 15225.0|                            149537.0|                     129642.0|                                                10730.0|          140372.0|                                                    18684.0|                                            34765.0|                             94.0|
|   13|   ANDHRA PRADESH|            Kurnool|                                     56720.0|                                          30261.0|                                         29164.0|                                              35273.0|                      151418.0|                 14353.0|                            137065.0|                      61274.0|                                                 3688.0|           64962.0|                                                    13214.0|                                            68736.0|                             47.0|
|    6|   ANDHRA PRADESH|            Krishna|                                     47059.0|                                          63644.0|                                         22479.0|                                              17616.0|                      150798.0|                 14502.0|                            136296.0|                      45270.0|                                                 9539.0|           54809.0|                                                     9539.0|                                            82026.0|                             40.0|
|    7|   ANDHRA PRADESH|             Guntur|                                     37569.0|                                          83241.0|                                         24505.0|                                              18180.0|                      163499.0|                 15955.0|                         147544.1843|                      40902.0|                                                 6545.0|           47447.0|                                                    14685.0|                                           100727.0|                             32.0|
|    8|   ANDHRA PRADESH|           Prakasam|                                     57624.0|                                          20460.0|                                         25579.0|                                              68527.0|                      172190.0|                 16194.0|                         155996.3639|                      50627.0|                                                 2120.0|           52747.0|                                                     9677.0|                                           100062.0|                             34.0|
|    9|   ANDHRA PRADESH|            Nellore|                                    160189.0|                                          36313.0|                                           772.0|                                              85132.0|                      282406.0|                 25677.0|                            256729.0|                      74470.0|                                                 5804.0|           80274.0|                                                     9535.0|                                           172725.0|                             31.0|
|    4|   ANDHRA PRADESH|      East Godavari|                                     69958.0|                                          37094.0|                                         38290.0|                                              24618.0|                      169960.0|                 16007.0|                            153953.0|                      33967.0|                                                 9075.0|           43042.0|                                                    14482.0|                                           106654.0|                             28.0|
|   14|ARUNACHAL PRADESH|              Tirap|                                      7208.0|                                             0.07|                                          2044.0|                                                  0.1|                       9252.17|                   925.0|                             8327.17|                          2.8|                                                   17.8|              20.6|                                                       57.0|                                            8267.37|                      0.247382964|
|   15|ARUNACHAL PRADESH|          Changlang|                                     20761.0|                                            17.83|                                          6907.0|                                                26.74|                      27712.57|                  2771.0|                            24941.57|                         25.5|                                                   98.7|             124.2|                                                      204.0|                                           24712.07|                      0.497963841|
|   16|ARUNACHAL PRADESH|              Lohit|                                    142890.0|                                              0.0|                                         52307.0|                                                  0.0|                      195197.0|                 19520.0|                            175677.0|                          5.3|                                                  252.8|             258.1|                                                     1081.0|                                           174590.7|                      0.146917354|
|   19|ARUNACHAL PRADESH|Lower Dibang Valley|                                     70406.0|                                              0.0|                                         24947.0|                                                  0.0|                       95353.0|                  9535.0|                             85818.0|                         33.5|                                                   48.0|              81.5|                                                      161.0|                                            85623.5|                      0.094968422|
|   17|ARUNACHAL PRADESH|              Anjaw|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
|   20|ARUNACHAL PRADESH|         East Siang|                                     60304.0|                                             8.07|                                         14949.0|                                                 12.1|                      75273.17|                  7527.0|                            67746.17|                         70.6|                                                  179.0|             249.6|                                                      366.0|                                           67309.57|                      0.368434112|
+-----+-----------------+-------------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
only showing top 20 rows

### sorting based on multiple columns

In [14]:
df_new.orderBy([df_new.state,df_new.district],ascending=True).show()

+-----+-----------------+-----------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|            state|         district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----------------+-----------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  645|ANDAMAN & NICOBAR|Andaman & Nicobar|                                   38116.025|                                         3824.791|                                          19.559|                                                 4.89|                     41965.266|                4196.527|                           37768.739|                       14.579|                                                354.783|           369.362|                                                   1615.437|                                          36138.723|                              1.0|
|   12|   ANDHRA PRADESH|        Anantapur|                                     70802.0|                                          19520.0|                                         43047.0|                                              31393.0|                      164762.0|                 15225.0|                            149537.0|                     129642.0|                                                10730.0|          140372.0|                                                    18684.0|                                            34765.0|                             94.0|
|   10|   ANDHRA PRADESH|         Chittoor|                                    134147.0|                                          15718.0|                                          9185.0|                                              23505.0|                      182555.0|                 17673.0|                            164882.0|                     100549.0|                                                17147.0|          117696.0|                                                    18817.0|                                            47341.0|                             71.0|
|    4|   ANDHRA PRADESH|    East Godavari|                                     69958.0|                                          37094.0|                                         38290.0|                                              24618.0|                      169960.0|                 16007.0|                            153953.0|                      33967.0|                                                 9075.0|           43042.0|                                                    14482.0|                                           106654.0|                             28.0|
|    7|   ANDHRA PRADESH|           Guntur|                                     37569.0|                                          83241.0|                                         24505.0|                                              18180.0|                      163499.0|                 15955.0|                         147544.1843|                      40902.0|                                                 6545.0|           47447.0|                                                    14685.0|                                           100727.0|                             32.0|
|   11|   ANDHRA PRADESH|           Kadapa|                                     47303.0|                                           9645.0|                                         38097.0|                                              14720.0|                      109765.0|                 10507.0|                             99258.0|                      63987.0|                                                 5780.0|           69767.0|                                                     9456.0|                                            27016.0|                             70.0|
|    6|   ANDHRA PRADESH|          Krishna|                                     47059.0|                                          63644.0|                                         22479.0|                                              17616.0|                      150798.0|                 14502.0|                            136296.0|                      45270.0|                                                 9539.0|           54809.0|                                                     9539.0|                                            82026.0|                             40.0|
|   13|   ANDHRA PRADESH|          Kurnool|                                     56720.0|                                          30261.0|                                         29164.0|                                              35273.0|                      151418.0|                 14353.0|                            137065.0|                      61274.0|                                                 3688.0|           64962.0|                                                    13214.0|                                            68736.0|                             47.0|
|    9|   ANDHRA PRADESH|          Nellore|                                    160189.0|                                          36313.0|                                           772.0|                                              85132.0|                      282406.0|                 25677.0|                            256729.0|                      74470.0|                                                 5804.0|           80274.0|                                                     9535.0|                                           172725.0|                             31.0|
|    8|   ANDHRA PRADESH|         Prakasam|                                     57624.0|                                          20460.0|                                         25579.0|                                              68527.0|                      172190.0|                 16194.0|                         155996.3639|                      50627.0|                                                 2120.0|           52747.0|                                                     9677.0|                                           100062.0|                             34.0|
|    1|   ANDHRA PRADESH|       Srikakulam|                                     40417.0|                                          38297.0|                                         24646.0|                                              19754.0|                      123115.0|                 11733.0|                            111382.0|                      38291.0|                                                 4504.0|           42795.0|                                                    17584.0|                                            62902.0|                             38.0|
|    3|   ANDHRA PRADESH|    Visakhapatnam|                                     73586.0|                                           5905.0|                                         13328.0|                                               5271.0|                       98090.0|                  8636.0|                             89454.0|                      13442.0|                                                 4485.0|           17927.0|                                                    12541.0|                                            63470.0|                             20.0|
|    2|   ANDHRA PRADESH|     Vizianagaram|                                     42539.0|                                          22254.0|                                         28250.0|                                               7492.0|                      100534.0|                  8936.0|                             91598.0|                      16894.0|                                                  918.0|           17812.0|                                                     6116.0|                                            68723.0|                             19.0|
|    5|   ANDHRA PRADESH|    West Godavari|                                     58870.0|                                          42876.0|                                         23364.0|                                              45290.0|                      170399.0|                 16033.0|                            154366.0|                      59783.0|                                                  967.0|           60750.0|                                                    10080.0|                                            85823.0|                             39.0|
|   17|ARUNACHAL PRADESH|            Anjaw|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
|   15|ARUNACHAL PRADESH|        Changlang|                                     20761.0|                                            17.83|                                          6907.0|                                                26.74|                      27712.57|                  2771.0|                            24941.57|                         25.5|                                                   98.7|             124.2|                                                      204.0|                                           24712.07|                      0.497963841|
|   18|ARUNACHAL PRADESH|    Dibang valley|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
|   23|ARUNACHAL PRADESH|      East Kameng|                                     13364.0|                                              0.0|                                          3030.0|                                                  0.0|                       16394.0|                  1639.0|                             14755.0|                         15.0|                                                    2.5|              17.5|                                                       14.0|                                            14726.0|                      0.118603863|
|   20|ARUNACHAL PRADESH|       East Siang|                                     60304.0|                                             8.07|                                         14949.0|                                                 12.1|                      75273.17|                  7527.0|                            67746.17|                         70.6|                                                  179.0|             249.6|                                                      366.0|                                           67309.57|                      0.368434112|
|   29|ARUNACHAL PRADESH|     Kurung Kumey|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                           0.0|                     0.0|                                 0.0|                          0.0|                                                    0.0|               0.0|                                                        0.0|                                                0.0|                              0.0|
+-----+-----------------+-----------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
only showing top 20 rows

### viewing data by filtering based on a condition

In [15]:
df_new.filter(df_new.Sl_No==662).show()

+-----+----------+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|     state|district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+----------+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  662|PUDUCHERRY|   Yanam|                                        null|                                             null|                                            null|                                                 null|                          null|                    null|                                null|                         null|                                                   null|              null|                                                       null|                                               null|                             null|
+-----+----------+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

### filtering out data based on a condition

In [16]:
df_new=df_new.filter(df_new.district!='Yanam')

In [17]:
df_new.count()

661

### checking column wise NULLs and NAs count

In [18]:
from pyspark.sql.functions import isnan, when, count, col
df_new.select([count(when(col(c).isNull() , c)).alias(c) for c in df_new.columns]).show()

+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|state|district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|    0|    0|       0|                                          10|                                               28|                                               9|                                                   28|                             0|                       1|                                   0|                            9|                                                      0|                 0|                                                          9|                                                 10|                                0|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

In [19]:
from pyspark.sql.functions import isnan, when, count, col
df_new.select([count(when(isnan(c)  , c)).alias(c) for c in df_new.columns]).show()

+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|state|district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|    0|    0|       0|                                           0|                                                0|                                               0|                                                    0|                             0|                       0|                                   0|                            0|                                                      0|                 0|                                                          0|                                                  0|                                0|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

In [20]:
df_new.dtypes

[('Sl_No', 'int'),
 ('state', 'string'),
 ('district', 'string'),
 ('Recharge_from_Rainfall_during_Monsoon_season', 'double'),
 ('Recharge_From_Other_Sources_during_monsoon_season', 'double'),
 ('Recharge_from_Rainfall_during_non_monsoon_season', 'double'),
 ('Recharge_From_Other_Sources_during_non_monsoon_season', 'double'),
 ('Annual_Replenishable_resources', 'double'),
 ('Annual_Natural_Discharge', 'double'),
 ('Net_Annual_Ground_Water_Availability', 'double'),
 ('Draft_due_to_Irrigation_Needs', 'double'),
 ('Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs', 'double'),
 ('Total_annual_Draft', 'double'),
 ('Projected_demand_for_Domestic_and_Industrial_uses_upto_2025', 'double'),
 ('Ground_Water_Availability_for_Future_Irrigation_use', 'double'),
 ('Stage_of_Ground_Water_Development', 'double')]

### drop duplicate rows

In [21]:
df_new=df_new.dropDuplicates()
type(df_new)

pyspark.sql.dataframe.DataFrame

In [22]:
df_new.count()

661

### checking count after drop operation

In [23]:
df_new.na.drop().count()

631

In [24]:
df_new.na.drop(how="all").count()

661

In [25]:
df_new.na.drop(how="any").count()

631

In [26]:
df_new.na.drop(thresh=2).count()

661

In [27]:
df_new.na.drop(subset=['Recharge_from_Rainfall_during_Monsoon_season']).count()

651

### fill operation

#### filling all null values in all the columns with same impute value

In [28]:
df_new.na.fill(0.0).filter(df_new.state=='LAKSADWEEP').show()  #using filter by state laksadweep to check the change

+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|     state| district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  652|LAKSADWEEP|  Androth|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         192.5|                   130.2|                                62.3|                          0.0|                                                   41.2|              41.2|                                                        0.0|                                                0.0|                             66.0|
|  653|LAKSADWEEP|  Chetlat|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                          41.4|                    27.8|                                13.6|                          0.0|                                                    8.6|               8.6|                                                        0.0|                                                0.0|                             63.0|
|  656|LAKSADWEEP|   Kiltan|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                          64.8|                    43.1|                                21.7|                          0.0|                                                   14.6|              14.6|                                                        0.0|                                                0.0|                             67.0|
|  658|LAKSADWEEP|  Minicoy|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         185.8|                   121.6|                                64.2|                          0.0|                                                   38.9|              38.9|                                                        0.0|                                                0.0|                             61.0|
|  651|LAKSADWEEP|    Amini|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         103.0|                    69.0|                                34.1|                          0.0|                                                   28.2|              28.2|                                                        0.0|                                                0.0|                             83.0|
|  650|LAKSADWEEP|   Agatti|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         107.8|                    72.4|                                35.4|                          0.0|                                                   28.0|              28.0|                                                        0.0|                                                0.0|                             79.0|
|  655|LAKSADWEEP|  Kalpeni|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                          90.7|                    61.0|                                29.7|                          0.0|                                                   16.2|              16.2|                                                        0.0|                                                0.0|                             55.0|
|  654|LAKSADWEEP|   Kadmat|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         124.1|                    83.4|                                40.7|                          0.0|                                                   19.7|              19.7|                                                        0.0|                                                0.0|                             48.0|
|  657|LAKSADWEEP|Kavaratti|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         144.4|                    96.0|                                48.4|                          0.0|                                                   41.8|              41.8|                                                        0.0|                                                0.0|                             86.0|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

#### imputing same default value in mutliple columns at a time

In [29]:
df_new.na.fill(333.33,subset=['Ground_Water_Availability_for_Future_Irrigation_use','Projected_demand_for_Domestic_and_Industrial_uses_upto_2025']).filter(df_new.state=='LAKSADWEEP').show()

+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|     state| district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  652|LAKSADWEEP|  Androth|                                        null|                                             null|                                            null|                                                 null|                         192.5|                   130.2|                                62.3|                         null|                                                   41.2|              41.2|                                                     333.33|                                             333.33|                             66.0|
|  653|LAKSADWEEP|  Chetlat|                                        null|                                             null|                                            null|                                                 null|                          41.4|                    27.8|                                13.6|                         null|                                                    8.6|               8.6|                                                     333.33|                                             333.33|                             63.0|
|  656|LAKSADWEEP|   Kiltan|                                        null|                                             null|                                            null|                                                 null|                          64.8|                    43.1|                                21.7|                         null|                                                   14.6|              14.6|                                                     333.33|                                             333.33|                             67.0|
|  658|LAKSADWEEP|  Minicoy|                                        null|                                             null|                                            null|                                                 null|                         185.8|                   121.6|                                64.2|                         null|                                                   38.9|              38.9|                                                     333.33|                                             333.33|                             61.0|
|  651|LAKSADWEEP|    Amini|                                        null|                                             null|                                            null|                                                 null|                         103.0|                    69.0|                                34.1|                         null|                                                   28.2|              28.2|                                                     333.33|                                             333.33|                             83.0|
|  650|LAKSADWEEP|   Agatti|                                        null|                                             null|                                            null|                                                 null|                         107.8|                    72.4|                                35.4|                         null|                                                   28.0|              28.0|                                                     333.33|                                             333.33|                             79.0|
|  655|LAKSADWEEP|  Kalpeni|                                        null|                                             null|                                            null|                                                 null|                          90.7|                    61.0|                                29.7|                         null|                                                   16.2|              16.2|                                                     333.33|                                             333.33|                             55.0|
|  654|LAKSADWEEP|   Kadmat|                                        null|                                             null|                                            null|                                                 null|                         124.1|                    83.4|                                40.7|                         null|                                                   19.7|              19.7|                                                     333.33|                                             333.33|                             48.0|
|  657|LAKSADWEEP|Kavaratti|                                        null|                                             null|                                            null|                                                 null|                         144.4|                    96.0|                                48.4|                         null|                                                   41.8|              41.8|                                                     333.33|                                             333.33|                             86.0|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

#### imputing multiple columns with different values at a time

In [30]:
df_new.na.fill({'Recharge_From_Other_Sources_during_monsoon_season':01110.0,'Recharge_From_Other_Sources_during_non_monsoon_season':02220.0}).filter(df_new.state=='LAKSADWEEP').show()

+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|     state| district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  652|LAKSADWEEP|  Androth|                                        null|                                           1110.0|                                            null|                                               2220.0|                         192.5|                   130.2|                                62.3|                         null|                                                   41.2|              41.2|                                                       null|                                               null|                             66.0|
|  653|LAKSADWEEP|  Chetlat|                                        null|                                           1110.0|                                            null|                                               2220.0|                          41.4|                    27.8|                                13.6|                         null|                                                    8.6|               8.6|                                                       null|                                               null|                             63.0|
|  656|LAKSADWEEP|   Kiltan|                                        null|                                           1110.0|                                            null|                                               2220.0|                          64.8|                    43.1|                                21.7|                         null|                                                   14.6|              14.6|                                                       null|                                               null|                             67.0|
|  658|LAKSADWEEP|  Minicoy|                                        null|                                           1110.0|                                            null|                                               2220.0|                         185.8|                   121.6|                                64.2|                         null|                                                   38.9|              38.9|                                                       null|                                               null|                             61.0|
|  651|LAKSADWEEP|    Amini|                                        null|                                           1110.0|                                            null|                                               2220.0|                         103.0|                    69.0|                                34.1|                         null|                                                   28.2|              28.2|                                                       null|                                               null|                             83.0|
|  650|LAKSADWEEP|   Agatti|                                        null|                                           1110.0|                                            null|                                               2220.0|                         107.8|                    72.4|                                35.4|                         null|                                                   28.0|              28.0|                                                       null|                                               null|                             79.0|
|  655|LAKSADWEEP|  Kalpeni|                                        null|                                           1110.0|                                            null|                                               2220.0|                          90.7|                    61.0|                                29.7|                         null|                                                   16.2|              16.2|                                                       null|                                               null|                             55.0|
|  654|LAKSADWEEP|   Kadmat|                                        null|                                           1110.0|                                            null|                                               2220.0|                         124.1|                    83.4|                                40.7|                         null|                                                   19.7|              19.7|                                                       null|                                               null|                             48.0|
|  657|LAKSADWEEP|Kavaratti|                                        null|                                           1110.0|                                            null|                                               2220.0|                         144.4|                    96.0|                                48.4|                         null|                                                   41.8|              41.8|                                                       null|                                               null|                             86.0|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

#### imputing a column with its mean value

In [31]:
from pyspark.sql.functions import *
df_new.na.fill(df_new.select(mean(df_new.Recharge_From_Other_Sources_during_monsoon_season)).collect()[0][0],subset=['Recharge_From_Other_Sources_during_monsoon_season']).filter(df_new.state=='MIZORAM').show()
#filtering data to check effect of imputation

+-----+-------+-----------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|  state|   district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-------+-----------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  401|MIZORAM|  Champhai |                                      624.55|                               11389.723579778833|                                           261.5|                                                 null|                        886.05|                    88.6|                              797.44|                          0.0|                                                  17.49|             17.49|                                                      32.92|                                             764.52|                             2.19|
|  408|MIZORAM|     Kohima|                                     11240.0|                               11389.723579778833|                                          5531.0|                                                 null|                       16770.0|                  1677.0|                             15093.0|                          0.0|                                                 489.53|            489.53|                                                     134.59|                                           14959.41|                              3.2|
|  405|MIZORAM|     Mamit |                                      291.93|                               11389.723579778833|                                          116.41|                                                 null|                        408.33|                   40.83|                               367.5|                          0.0|                                                   5.17|              5.17|                                                      23.17|                                             344.33|                             1.41|
|  400|MIZORAM|    Aizawl |                                      347.28|                               11389.723579778833|                                          154.13|                                                 null|                        501.42|                   50.14|                              451.27|                          0.0|                                                  22.99|             22.99|                                                      56.16|                                             395.11|                             5.09|
|  413|MIZORAM|      Wokha|                                     12769.0|                               11389.723579778833|                                          6283.0|                                                 null|                       19052.0|                  1905.0|                             17147.0|                          0.0|                                                 250.52|            250.52|                                                      52.57|                                           17094.43|                              1.5|
|  402|MIZORAM|   Kolasib |                                      391.15|                               11389.723579778833|                                          134.37|                                                 null|                        525.53|                   52.55|                              472.98|                          0.0|                                                   8.69|              8.69|                                                       22.1|                                             450.88|                             1.84|
|  409|MIZORAM|    Dimapur|                                      7812.0|                               11389.723579778833|                                          3844.0|                                                 null|                       11655.0|                  1166.0|                             10490.0|                          0.0|                                                1043.76|           1043.76|                                                     723.06|                                            9766.94|                             10.0|
|  407|MIZORAM|   Serchipp|                                      199.35|                               11389.723579778833|                                           76.89|                                                 null|                        276.24|                   27.62|                              248.62|                          0.0|                                                   11.0|              11.0|                                                       17.1|                                             231.52|                             4.42|
|  411|MIZORAM| Mokokchung|                                     12525.0|                               11389.723579778833|                                          6163.0|                                                 null|                       18689.0|                  1869.0|                             16820.0|                          0.0|                                                 239.94|            239.94|                                                      38.04|                                           16780.96|                              1.4|
|  403|MIZORAM|Lawngtalai |                                      538.24|                               11389.723579778833|                                          154.41|                                                 null|                        692.65|                   69.27|                              623.39|                          0.0|                                                   9.41|              9.41|                                                      31.61|                                             591.76|                             1.51|
|  410|MIZORAM|       Phek|                                     16693.0|                               11389.723579778833|                                          8214.0|                                                 null|                       24907.0|                  2491.0|                             22416.0|                          0.0|                                                 264.05|            264.05|                                                      61.14|                                           22354.86|                              1.2|
|  412|MIZORAM|  Zunheboto|                                      9402.0|                               11389.723579778833|                                          4626.0|                                                 null|                       14028.0|                  1403.0|                             12625.0|                          0.0|                                                 188.14|            188.14|                                                       33.4|                                            12591.6|                              1.5|
|  404|MIZORAM|    Lunglei|                                      256.85|                               11389.723579778833|                                           77.75|                                                 null|                         334.6|                   33.46|                              301.14|                          0.0|                                                  25.74|             25.74|                                                      40.24|                                              260.9|                             8.55|
|  406|MIZORAM|      Saiha|                                      250.39|                               11389.723579778833|                                           67.07|                                                 null|                        317.45|                   31.75|                              285.71|                          0.0|                                                   3.41|              3.41|                                                      14.87|                                             270.84|                             1.19|
+-----+-------+-----------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

#### unless we assign to a variable the above changes are not stored

In [32]:
df_new.select([count(when(col(c).isNull(),c)).alias(c) for c in df_new.columns]).show()

+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|state|district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|    0|    0|       0|                                          10|                                               28|                                               9|                                                   28|                             0|                       1|                                   0|                            9|                                                      0|                 0|                                                          9|                                                 10|                                0|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

### sorting column data in desc order

In [33]:
#df_new.select('Recharge_From_Other_Sources_during_monsoon_season').show()
#show elements of a column by sorting in desc order
df_new.select('Recharge_From_Other_Sources_during_monsoon_season').sort(df_new.Recharge_From_Other_Sources_during_monsoon_season.desc()).show()

+-------------------------------------------------+
|Recharge_From_Other_Sources_during_monsoon_season|
+-------------------------------------------------+
|                                         128976.0|
|                                         107177.0|
|                                         105098.0|
|                                         102020.0|
|                                         101830.0|
|                                         97858.36|
|                                          88156.0|
|                                          87490.0|
|                                          84416.0|
|                                          83241.0|
|                                         76991.16|
|                                         73856.89|
|                                          73150.0|
|                                         68840.05|
|                                         65301.46|
|                                          63805.0|
|                                          63644.0|
|                                         60450.45|
|                                         60379.13|
|                                         58564.75|
+-------------------------------------------------+
only showing top 20 rows

In [34]:
type(df_new)

pyspark.sql.dataframe.DataFrame

### getting the list of column except one column

In [35]:
cols=list(col(c) for c in df_new.columns if c!='Sl_No')
cols

[Column<b'state'>,
 Column<b'district'>,
 Column<b'Recharge_from_Rainfall_during_Monsoon_season'>,
 Column<b'Recharge_From_Other_Sources_during_monsoon_season'>,
 Column<b'Recharge_from_Rainfall_during_non_monsoon_season'>,
 Column<b'Recharge_From_Other_Sources_during_non_monsoon_season'>,
 Column<b'Annual_Replenishable_resources'>,
 Column<b'Annual_Natural_Discharge'>,
 Column<b'Net_Annual_Ground_Water_Availability'>,
 Column<b'Draft_due_to_Irrigation_Needs'>,
 Column<b'Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs'>,
 Column<b'Total_annual_Draft'>,
 Column<b'Projected_demand_for_Domestic_and_Industrial_uses_upto_2025'>,
 Column<b'Ground_Water_Availability_for_Future_Irrigation_use'>,
 Column<b'Stage_of_Ground_Water_Development'>]

In [36]:
type(cols)

list

### fetching set of column names based on column position

In [39]:
cols=df_new.columns[3:16]
cols

['Recharge_from_Rainfall_during_Monsoon_season',
 'Recharge_From_Other_Sources_during_monsoon_season',
 'Recharge_from_Rainfall_during_non_monsoon_season',
 'Recharge_From_Other_Sources_during_non_monsoon_season',
 'Annual_Replenishable_resources',
 'Annual_Natural_Discharge',
 'Net_Annual_Ground_Water_Availability',
 'Draft_due_to_Irrigation_Needs',
 'Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs',
 'Total_annual_Draft',
 'Projected_demand_for_Domestic_and_Industrial_uses_upto_2025',
 'Ground_Water_Availability_for_Future_Irrigation_use',
 'Stage_of_Ground_Water_Development']

In [40]:
type(cols)

list

In [41]:
len(cols)

13

In [42]:
df_new.dtypes

[('Sl_No', 'int'),
 ('state', 'string'),
 ('district', 'string'),
 ('Recharge_from_Rainfall_during_Monsoon_season', 'double'),
 ('Recharge_From_Other_Sources_during_monsoon_season', 'double'),
 ('Recharge_from_Rainfall_during_non_monsoon_season', 'double'),
 ('Recharge_From_Other_Sources_during_non_monsoon_season', 'double'),
 ('Annual_Replenishable_resources', 'double'),
 ('Annual_Natural_Discharge', 'double'),
 ('Net_Annual_Ground_Water_Availability', 'double'),
 ('Draft_due_to_Irrigation_Needs', 'double'),
 ('Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs', 'double'),
 ('Total_annual_Draft', 'double'),
 ('Projected_demand_for_Domestic_and_Industrial_uses_upto_2025', 'double'),
 ('Ground_Water_Availability_for_Future_Irrigation_use', 'double'),
 ('Stage_of_Ground_Water_Development', 'double')]

### handling missing values in multiple columns with same default value using loop

In [43]:
for i in cols:
    df_new=df_new.na.fill(0.0,subset=i)
    df_new.select(i).show()

+--------------------------------------------+
|Recharge_from_Rainfall_during_Monsoon_season|
+--------------------------------------------+
|                                     16114.0|
|                                    72003.21|
|                                     45227.0|
|                                     17088.0|
|                                    95601.25|
|                                     43509.0|
|                                    59265.54|
|                                    49259.82|
|                                      196.25|
|                                    34805.98|
|                                    92009.77|
|                                   101730.03|
|                                    31628.47|
|                                    18866.13|
|                                    45186.57|
|                                    30034.94|
|                                    34067.44|
|                                       32.42|
|                                     14503.0|
|                                    1211.862|
+--------------------------------------------+
only showing top 20 rows

+-------------------------------------------------+
|Recharge_From_Other_Sources_during_monsoon_season|
+-------------------------------------------------+
|                                          22791.0|
|                                          1475.54|
|                                           6413.0|
|                                           3826.0|
|                                         14619.56|
|                                          88156.0|
|                                           236.48|
|                                          2849.13|
|                                             8.75|
|                                          1513.12|
|                                         13448.21|
|                                          4723.36|
|                                          1092.42|
|                                         11874.79|
|                                           261.17|
|                                            92.52|
|                                          7290.49|
|                                             1.18|
|                                           4129.0|
|                                           1560.0|
+-------------------------------------------------+
only showing top 20 rows

+------------------------------------------------+
|Recharge_from_Rainfall_during_non_monsoon_season|
+------------------------------------------------+
|                                          5204.0|
|                                         3608.77|
|                                         16379.0|
|                                          6236.0|
|                                        25412.14|
|                                          9210.0|
|                                         7158.85|
|                                             0.0|
|                                           26.48|
|                                             0.0|
|                                        10670.68|
|                                             0.0|
|                                             0.0|
|                                         5051.48|
|                                         5641.14|
|                                         1427.38|
|                                             0.0|
|                                            5.73|
|                                          3513.0|
|                                          734.95|
+------------------------------------------------+
only showing top 20 rows

+-----------------------------------------------------+
|Recharge_From_Other_Sources_during_non_monsoon_season|
+-----------------------------------------------------+
|                                              15342.0|
|                                              4878.39|
|                                               1054.0|
|                                               2584.0|
|                                             52791.67|
|                                              29245.0|
|                                               986.92|
|                                              9820.81|
|                                                99.82|
|                                              4919.05|
|                                              7380.68|
|                                              5966.47|
|                                              3149.59|
|                                              3568.81|
|                                              1202.33|
|                                               346.81|
|                                              9808.71|
|                                                75.89|
|                                              12250.0|
|                                              2266.35|
+-----------------------------------------------------+
only showing top 20 rows

+------------------------------+
|Annual_Replenishable_resources|
+------------------------------+
|                       59450.0|
|                      81965.91|
|                       69073.0|
|                       29733.0|
|                     188424.63|
|                      170120.0|
|                      67647.79|
|                      61929.76|
|                         331.3|
|                      41238.16|
|                     123509.34|
|                     112419.86|
|                      35870.48|
|                       39361.2|
|                      52291.21|
|                      31901.65|
|                      51166.64|
|                        115.22|
|                       34395.0|
|                       5773.16|
+------------------------------+
only showing top 20 rows

+------------------------+
|Annual_Natural_Discharge|
+------------------------+
|                  5943.0|
|                 4098.17|
|                  6907.0|
|                  5901.0|
|                 9930.86|
|                 17012.0|
|                 3380.31|
|                 3096.49|
|                   33.13|
|                 3352.84|
|                11858.02|
|                 5620.99|
|                 3462.12|
|                 3936.12|
|                 2614.57|
|                 2963.32|
|                 2558.33|
|                   11.52|
|                  3433.0|
|                  195.97|
+------------------------+
only showing top 20 rows

+------------------------------------+
|Net_Annual_Ground_Water_Availability|
+------------------------------------+
|                             53507.0|
|                            77867.74|
|                             62166.0|
|                             23832.0|
|                           178493.77|
|                            153108.0|
|                            64267.48|
|                            58833.27|
|                              298.17|
|                            37885.32|
|                           111651.32|
|                           106798.86|
|                            32408.36|
|                            35425.08|
|                            49676.64|
|                            28938.33|
|                            48608.31|
|                               103.7|
|                             30962.0|
|                             5577.19|
+------------------------------------+
only showing top 20 rows

+-----------------------------+
|Draft_due_to_Irrigation_Needs|
+-----------------------------+
|                     114114.0|
|                     20440.37|
|                      16107.0|
|                      12087.0|
|                    133519.33|
|                     285530.0|
|                      2420.92|
|                     57711.43|
|                         40.7|
|                     38764.21|
|                      19959.3|
|                     10401.36|
|                     42186.98|
|                      38331.3|
|                      5751.59|
|                      1651.38|
|                     35106.33|
|                        52.84|
|                      27175.0|
|                          7.5|
+-----------------------------+
only showing top 20 rows

+-------------------------------------------------------+
|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|
+-------------------------------------------------------+
|                                                 6573.0|
|                                                3210.04|
|                                                 2080.0|
|                                                 2685.0|
|                                                 4833.4|
|                                                 4332.0|
|                                                2107.21|
|                                                2090.06|
|                                                 217.18|
|                                                8178.26|
|                                                6399.64|
|                                                8332.02|
|                                                5217.52|
|                                                2158.18|
|                                                1470.87|
|                                                1859.83|
|                                               10124.09|
|                                                  45.49|
|                                                 1164.0|
|                                                 2442.5|
+-------------------------------------------------------+
only showing top 20 rows

+------------------+
|Total_annual_Draft|
+------------------+
|          120687.0|
|          23650.41|
|           18187.0|
|           14772.0|
|         138352.73|
|          289862.0|
|           4528.13|
|          59801.49|
|            257.88|
|          46942.47|
|          26358.94|
|          18733.38|
|           47404.5|
|          40489.48|
|           7222.46|
|            3511.2|
|          45230.42|
|             98.33|
|           28339.0|
|            2450.0|
+------------------+
only showing top 20 rows

+-----------------------------------------------------------+
|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|
+-----------------------------------------------------------+
|                                                     8238.0|
|                                                    9115.39|
|                                                     2794.0|
|                                                     4649.0|
|                                                    8745.35|
|                                                     6381.0|
|                                                     5283.0|
|                                                    2336.24|
|                                                     217.18|
|                                                    8182.55|
|                                                     1741.0|
|                                                   16664.04|
|                                                    5337.46|
|                                                    2455.17|
|                                                    1814.55|
|                                                      786.0|
|                                                   11497.15|
|                                                      45.48|
|                                                     2068.0|
|                                                    2810.76|
+-----------------------------------------------------------+
only showing top 20 rows

+---------------------------------------------------+
|Ground_Water_Availability_for_Future_Irrigation_use|
+---------------------------------------------------+
|                                           -68845.0|
|                                           48311.98|
|                                            43265.0|
|                                             7096.0|
|                                           43606.01|
|                                          -138803.0|
|                                           56563.56|
|                                            -1214.4|
|                                              40.29|
|                                             358.75|
|                                           89951.02|
|                                           79733.46|
|                                             857.82|
|                                           -5361.39|
|                                            42110.5|
|                                           26500.95|
|                                            4485.36|
|                                               5.38|
|                                             1719.0|
|                                            2758.93|
+---------------------------------------------------+
only showing top 20 rows

+---------------------------------+
|Stage_of_Ground_Water_Development|
+---------------------------------+
|                            226.0|
|                             30.0|
|                             29.0|
|                             62.0|
|                             78.0|
|                            189.0|
|                              7.0|
|                            102.0|
|                             86.0|
|                            124.0|
|                            23.61|
|                             18.0|
|                            146.0|
|                            114.0|
|                             15.0|
|                             12.0|
|                             93.0|
|                             95.0|
|                             92.0|
|                             44.0|
+---------------------------------+
only showing top 20 rows

### filtering data based on a condition

In [44]:
df_new.filter(df_new.state=='LAKSADWEEP').show()

+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|     state| district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  652|LAKSADWEEP|  Androth|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         192.5|                   130.2|                                62.3|                          0.0|                                                   41.2|              41.2|                                                        0.0|                                                0.0|                             66.0|
|  653|LAKSADWEEP|  Chetlat|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                          41.4|                    27.8|                                13.6|                          0.0|                                                    8.6|               8.6|                                                        0.0|                                                0.0|                             63.0|
|  656|LAKSADWEEP|   Kiltan|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                          64.8|                    43.1|                                21.7|                          0.0|                                                   14.6|              14.6|                                                        0.0|                                                0.0|                             67.0|
|  658|LAKSADWEEP|  Minicoy|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         185.8|                   121.6|                                64.2|                          0.0|                                                   38.9|              38.9|                                                        0.0|                                                0.0|                             61.0|
|  651|LAKSADWEEP|    Amini|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         103.0|                    69.0|                                34.1|                          0.0|                                                   28.2|              28.2|                                                        0.0|                                                0.0|                             83.0|
|  650|LAKSADWEEP|   Agatti|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         107.8|                    72.4|                                35.4|                          0.0|                                                   28.0|              28.0|                                                        0.0|                                                0.0|                             79.0|
|  655|LAKSADWEEP|  Kalpeni|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                          90.7|                    61.0|                                29.7|                          0.0|                                                   16.2|              16.2|                                                        0.0|                                                0.0|                             55.0|
|  654|LAKSADWEEP|   Kadmat|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         124.1|                    83.4|                                40.7|                          0.0|                                                   19.7|              19.7|                                                        0.0|                                                0.0|                             48.0|
|  657|LAKSADWEEP|Kavaratti|                                         0.0|                                              0.0|                                             0.0|                                                  0.0|                         144.4|                    96.0|                                48.4|                          0.0|                                                   41.8|              41.8|                                                        0.0|                                                0.0|                             86.0|
+-----+----------+---------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

In [45]:
df_new.select([count(when(col(c).isNull(),c)).alias(c) for c in df_new.columns]).show()

+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|state|district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|    0|    0|       0|                                           0|                                                0|                                               0|                                                    0|                             0|                       0|                                   0|                            0|                                                      0|                 0|                                                          0|                                                  0|                                0|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

## Analysis

### number of entries under each state

In [46]:
df_new.groupBy('state').count().show()

+--------------------+-----+
|               state|count|
+--------------------+-----+
|           MEGHALAYA|   11|
|         WEST BENGAL|   17|
|           JHARKHUND|   24|
|DADRA NAGAR & HAVELI|    1|
|         DAMAN & DIU|    2|
|        CHCHATISGARH|   27|
|          LAKSADWEEP|    9|
|         UTTARAKHUND|    4|
|                 GOA|    2|
|           RAJASTHAN|   33|
|             TRIPURA|    4|
|               DELHI|   27|
|    HIMACHAL PRADESH|    8|
|               BIHAR|   38|
|           KARNATAKA|   30|
|     JAMMU & KASHMIR|   23|
|       UTTAR PRADESH|   75|
|             MANIPUR|    9|
|      MADHYA PRADESH|   51|
|          PUDUCHERRY|    3|
+--------------------+-----+
only showing top 20 rows

### distinct number of states and districts in dataset

In [47]:
df_new.select(countDistinct('district').alias('unique districts'),countDistinct('state').alias('unique states')).show()

+----------------+-------------+
|unique districts|unique states|
+----------------+-------------+
|             657|           35|
+----------------+-------------+

### obtaining mean,max,min values in each numerical column

In [48]:
for i in cols:
    df_new.select(round(avg(i),1),round(max(i),1),round(min(i),1)).show()

+-----------------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+
|round(avg(Recharge_from_Rainfall_during_Monsoon_season), 1)|round(max(Recharge_from_Rainfall_during_Monsoon_season), 1)|round(min(Recharge_from_Rainfall_during_Monsoon_season), 1)|
+-----------------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+
|                                                    39317.9|                                                   241691.7|                                                        0.0|
+-----------------------------------------------------------+-----------------------------------------------------------+-----------------------------------------------------------+

+----------------------------------------------------------------+----------------------------------------------------------------+----------------------------------------------------------------+
|round(avg(Recharge_From_Other_Sources_during_monsoon_season), 1)|round(max(Recharge_From_Other_Sources_during_monsoon_season), 1)|round(min(Recharge_From_Other_Sources_during_monsoon_season), 1)|
+----------------------------------------------------------------+----------------------------------------------------------------+----------------------------------------------------------------+
|                                                         10907.3|                                                        128976.0|                                                             0.0|
+----------------------------------------------------------------+----------------------------------------------------------------+----------------------------------------------------------------+

+---------------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+
|round(avg(Recharge_from_Rainfall_during_non_monsoon_season), 1)|round(max(Recharge_from_Rainfall_during_non_monsoon_season), 1)|round(min(Recharge_from_Rainfall_during_non_monsoon_season), 1)|
+---------------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+
|                                                         6134.8|                                                        70126.0|                                                            0.0|
+---------------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+

+--------------------------------------------------------------------+--------------------------------------------------------------------+--------------------------------------------------------------------+
|round(avg(Recharge_From_Other_Sources_during_non_monsoon_season), 1)|round(max(Recharge_From_Other_Sources_during_non_monsoon_season), 1)|round(min(Recharge_From_Other_Sources_during_non_monsoon_season), 1)|
+--------------------------------------------------------------------+--------------------------------------------------------------------+--------------------------------------------------------------------+
|                                                             11243.5|                                                             85132.0|                                                                 0.0|
+--------------------------------------------------------------------+--------------------------------------------------------------------+--------------------------------------------------------------------+

+---------------------------------------------+---------------------------------------------+---------------------------------------------+
|round(avg(Annual_Replenishable_resources), 1)|round(max(Annual_Replenishable_resources), 1)|round(min(Annual_Replenishable_resources), 1)|
+---------------------------------------------+---------------------------------------------+---------------------------------------------+
|                                      67605.1|                                     363854.7|                                          0.0|
+---------------------------------------------+---------------------------------------------+---------------------------------------------+

+---------------------------------------+---------------------------------------+---------------------------------------+
|round(avg(Annual_Natural_Discharge), 1)|round(max(Annual_Natural_Discharge), 1)|round(min(Annual_Natural_Discharge), 1)|
+---------------------------------------+---------------------------------------+---------------------------------------+
|                                 5382.9|                                34991.2|                                    0.0|
+---------------------------------------+---------------------------------------+---------------------------------------+

+---------------------------------------------------+---------------------------------------------------+---------------------------------------------------+
|round(avg(Net_Annual_Ground_Water_Availability), 1)|round(max(Net_Annual_Ground_Water_Availability), 1)|round(min(Net_Annual_Ground_Water_Availability), 1)|
+---------------------------------------------------+---------------------------------------------------+---------------------------------------------------+
|                                            62222.1|                                           328863.5|                                                0.0|
+---------------------------------------------------+---------------------------------------------------+---------------------------------------------------+

+--------------------------------------------+--------------------------------------------+--------------------------------------------+
|round(avg(Draft_due_to_Irrigation_Needs), 1)|round(max(Draft_due_to_Irrigation_Needs), 1)|round(min(Draft_due_to_Irrigation_Needs), 1)|
+--------------------------------------------+--------------------------------------------+--------------------------------------------+
|                                     34538.5|                                    362759.0|                                         0.0|
+--------------------------------------------+--------------------------------------------+--------------------------------------------+

+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+
|round(avg(Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs), 1)|round(max(Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs), 1)|round(min(Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs), 1)|
+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+
|                                                                3747.0|                                                               34160.3|                                                                   0.0|
+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+

+---------------------------------+---------------------------------+---------------------------------+
|round(avg(Total_annual_Draft), 1)|round(max(Total_annual_Draft), 1)|round(min(Total_annual_Draft), 1)|
+---------------------------------+---------------------------------+---------------------------------+
|                          38285.5|                         366426.0|                              0.0|
+---------------------------------+---------------------------------+---------------------------------+

+--------------------------------------------------------------------------+--------------------------------------------------------------------------+--------------------------------------------------------------------------+
|round(avg(Projected_demand_for_Domestic_and_Industrial_uses_upto_2025), 1)|round(max(Projected_demand_for_Domestic_and_Industrial_uses_upto_2025), 1)|round(min(Projected_demand_for_Domestic_and_Industrial_uses_upto_2025), 1)|
+--------------------------------------------------------------------------+--------------------------------------------------------------------------+--------------------------------------------------------------------------+
|                                                                    4783.5|                                                                   46578.0|                                                                       0.0|
+--------------------------------------------------------------------------+--------------------------------------------------------------------------+--------------------------------------------------------------------------+

+------------------------------------------------------------------+------------------------------------------------------------------+------------------------------------------------------------------+
|round(avg(Ground_Water_Availability_for_Future_Irrigation_use), 1)|round(max(Ground_Water_Availability_for_Future_Irrigation_use), 1)|round(min(Ground_Water_Availability_for_Future_Irrigation_use), 1)|
+------------------------------------------------------------------+------------------------------------------------------------------+------------------------------------------------------------------+
|                                                           24543.3|                                                          264315.1|                                                         -194037.0|
+------------------------------------------------------------------+------------------------------------------------------------------+------------------------------------------------------------------+

+------------------------------------------------+------------------------------------------------+------------------------------------------------+
|round(avg(Stage_of_Ground_Water_Development), 1)|round(max(Stage_of_Ground_Water_Development), 1)|round(min(Stage_of_Ground_Water_Development), 1)|
+------------------------------------------------+------------------------------------------------+------------------------------------------------+
|                                            61.5|                                           411.0|                                             0.0|
+------------------------------------------------+------------------------------------------------+------------------------------------------------+

### obtaining state wise average annual_natural_discharge and displaying in descending order

In [49]:
d1=df_new.groupBy('state').agg(round(avg('Annual_Natural_Discharge'),2).alias('avg_annual_natural_discharge'))
d1.orderBy(d1.avg_annual_natural_discharge.desc()).show()

+-----------------+----------------------------+
|            state|avg_annual_natural_discharge|
+-----------------+----------------------------+
|      WEST BENGAL|                    16315.72|
|        TELANGANA|                    15044.44|
|   ANDHRA PRADESH|                    14725.46|
|            ASSAM|                    11891.15|
|           PUNJAB|                    11463.14|
|            BIHAR|                     7427.29|
|        KARNATAKA|                      7216.2|
|        TAMILNADU|                     6454.08|
|    UTTAR PRADESH|                     6353.55|
|      MAHARASHTRA|                     5185.89|
|          TRIPURA|                     5062.01|
|          HARYANA|                     5055.25|
|              GOA|                      4875.0|
|           KERALA|                     4319.07|
|ANDAMAN & NICOBAR|                     4196.53|
|          GIJARAT|                     4101.96|
|        RAJASTHAN|                     3807.78|
|           ODISHA|                     3622.37|
|   MADHYA PRADESH|                     3568.03|
|     CHCHATISGARH|                     3319.71|
+-----------------+----------------------------+
only showing top 20 rows

### number of unique districts having stage of ground water development percentage greater than 100

In [50]:
df_new.filter(df_new.Stage_of_Ground_Water_Development>100).select(countDistinct('district')).show()

+------------------------+
|count(DISTINCT district)|
+------------------------+
|                     104|
+------------------------+

### obtaining proportional contribution of each sources in annual replenishable resources

In [51]:
df_new.filter(df_new.Annual_Replenishable_resources!=0).select(round((df_new.Recharge_from_Rainfall_during_Monsoon_season/df_new.Annual_Replenishable_resources)*100,1).alias('rainfall during monsoon %'),round((df_new.Recharge_From_Other_Sources_during_monsoon_season/df_new.Annual_Replenishable_resources)*100,1).alias('other sources during monsoon %'),round((df_new.Recharge_from_Rainfall_during_non_monsoon_season/df_new.Annual_Replenishable_resources)*100,1).alias('rainfall during non monsoon %'),round((df_new.Recharge_From_Other_Sources_during_non_monsoon_season/df_new.Annual_Replenishable_resources)*100,1).alias('other sources during non monsoon %')).show()

+-------------------------+------------------------------+-----------------------------+----------------------------------+
|rainfall during monsoon %|other sources during monsoon %|rainfall during non monsoon %|other sources during non monsoon %|
+-------------------------+------------------------------+-----------------------------+----------------------------------+
|                     27.1|                          38.3|                          8.8|                              25.8|
|                     87.8|                           1.8|                          4.4|                               6.0|
|                     65.5|                           9.3|                         23.7|                               1.5|
|                     57.5|                          12.9|                         21.0|                               8.7|
|                     50.7|                           7.8|                         13.5|                              28.0|
|                     25.6|                          51.8|                          5.4|                              17.2|
|                     87.6|                           0.3|                         10.6|                               1.5|
|                     79.5|                           4.6|                          0.0|                              15.9|
|                     59.2|                           2.6|                          8.0|                              30.1|
|                     84.4|                           3.7|                          0.0|                              11.9|
|                     74.5|                          10.9|                          8.6|                               6.0|
|                     90.5|                           4.2|                          0.0|                               5.3|
|                     88.2|                           3.0|                          0.0|                               8.8|
|                     47.9|                          30.2|                         12.8|                               9.1|
|                     86.4|                           0.5|                         10.8|                               2.3|
|                     94.1|                           0.3|                          4.5|                               1.1|
|                     66.6|                          14.2|                          0.0|                              19.2|
|                     28.1|                           1.0|                          5.0|                              65.9|
|                     42.2|                          12.0|                         10.2|                              35.6|
|                     21.0|                          27.0|                         12.7|                              39.3|
+-------------------------+------------------------------+-----------------------------+----------------------------------+
only showing top 20 rows

### ratio of drafted irrigational , industrial and water supply needs to total annual draft

In [52]:
df_new.filter(df_new.Total_annual_Draft!=0).select(round((df_new.Draft_due_to_Irrigation_Needs/df_new.Total_annual_Draft)*100,1).alias('proportion of draft for irrigational needs %'),round((df_new.Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs/df_new.Total_annual_Draft)*100,1).alias('proportion of draft for industrial and water supply needs %')).show()

+--------------------------------------------+-----------------------------------------------------------+
|proportion of draft for irrigational needs %|proportion of draft for industrial and water supply needs %|
+--------------------------------------------+-----------------------------------------------------------+
|                                        94.6|                                                        5.4|
|                                        86.4|                                                       13.6|
|                                        88.6|                                                       11.4|
|                                        81.8|                                                       18.2|
|                                        96.5|                                                        3.5|
|                                        98.5|                                                        1.5|
|                                        53.5|                                                       46.5|
|                                        96.5|                                                        3.5|
|                                        15.8|                                                       84.2|
|                                        82.6|                                                       17.4|
|                                        75.7|                                                       24.3|
|                                        55.5|                                                       44.5|
|                                        89.0|                                                       11.0|
|                                        94.7|                                                        5.3|
|                                        79.6|                                                       20.4|
|                                        47.0|                                                       53.0|
|                                        77.6|                                                       22.4|
|                                        53.7|                                                       46.3|
|                                        95.9|                                                        4.1|
|                                         0.3|                                                       99.7|
+--------------------------------------------+-----------------------------------------------------------+
only showing top 20 rows

In [53]:
df_new.select([count(when(col(c).isNull(),c)).alias(c) for c in df_new.columns]).show()

+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|state|district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|    0|    0|       0|                                           0|                                                0|                                               0|                                                    0|                             0|                       0|                                   0|                            0|                                                      0|                 0|                                                          0|                                                  0|                                0|
+-----+-----+--------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

### obtaining unique no.of states based on pattern matching

In [54]:
df_new.filter(df_new.state.like('AND%')).select(countDistinct(df_new.state)).show()

+---------------------+
|count(DISTINCT state)|
+---------------------+
|                    2|
+---------------------+

In [55]:
df_new.filter(df_new.district.contains('san')).show()

+-----+---------+------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No|    state|    district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+---------+------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|  164|  GIJARAT|    Mahesana|                                     76463.4|                                         10621.22|                                             0.0|                                             12992.13|                     100076.75|                 5003.84|                            95072.91|                     110581.0|                                                 4976.0|          115557.0|                                                     6476.0|                                             196.02|                            122.0|
|  268|KARNATAKA|      Hassan|                                     20686.0|                                          28756.0|                                         13069.0|                                              18648.0|                       81159.0|                  8392.0|                             72768.0|                      38560.0|                                                 2826.0|           41386.0|                                                     3915.0|                                            30560.0|                             57.0|
|  145|    DELHI|Vasant Vihar|                                      784.75|                                            77.86|                                          133.13|                                               234.67|                       1230.41|                  123.04|                             1107.37|                       303.91|                                                2668.11|           2972.02|                                                    2668.11|                                                0.0|                            268.0|
+-----+---------+------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+

In [57]:
df_new.filter(df_new.state.isin('ODISHA','BIHAR')).show()

+-----+------+------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|Sl_No| state|    district|Recharge_from_Rainfall_during_Monsoon_season|Recharge_From_Other_Sources_during_monsoon_season|Recharge_from_Rainfall_during_non_monsoon_season|Recharge_From_Other_Sources_during_non_monsoon_season|Annual_Replenishable_resources|Annual_Natural_Discharge|Net_Annual_Ground_Water_Availability|Draft_due_to_Irrigation_Needs|Draft_due_to_Domestic_and_Industrial_Water_Supply_Needs|Total_annual_Draft|Projected_demand_for_Domestic_and_Industrial_uses_upto_2025|Ground_Water_Availability_for_Future_Irrigation_use|Stage_of_Ground_Water_Development|
+-----+------+------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
|   84| BIHAR|      Rohtas|                                    92009.77|                                         13448.21|                                        10670.68|                                              7380.68|                     123509.34|                11858.02|                           111651.32|                      19959.3|                                                6399.64|          26358.94|                                                     1741.0|                                           89951.02|                            23.61|
|  425|ODISHA|     Cuttack|                                     38608.0|                                          12326.0|                                          2430.0|                                              22353.0|                       75717.0|                  5001.0|                             70716.0|                      21925.0|                                                 6129.0|           28054.0|                                                     8143.0|                                            40648.0|                             40.0|
|   92| BIHAR|      Supaul|                                    61106.69|                                         10798.75|                                        11808.84|                                              8418.32|                       92132.6|                 6527.96|                            85604.64|                      22048.2|                                                4848.78|          26896.98|                                                     1306.0|                                           62250.44|                            31.42|
|  424|ODISHA|       Boudh|                                     14105.0|                                           7742.0|                                          1930.0|                                               6123.0|                       29900.0|                  2061.0|                             27839.0|                       5238.0|                                                  912.0|            6150.0|                                                     1460.0|                                            21141.0|                             22.0|
|   78| BIHAR|      Munger|                                    26929.75|                                          5774.56|                                          4179.3|                                              4452.61|                      41336.22|                 3969.16|                            37367.06|                       9136.6|                                                2968.72|          12105.32|                                                      808.0|                                           27422.46|                             32.4|
|  439|ODISHA|  Malkangiri|                                     25865.0|                                           5111.0|                                          1091.0|                                               3824.0|                       35891.0|                  2293.0|                             33598.0|                       2845.0|                                                 1136.0|            3981.0|                                                     1860.0|                                            28893.0|                             12.0|
|   57| BIHAR|      Araria|                                    64316.63|                                          5629.64|                                        16077.93|                                              2391.98|                      88416.18|                 8841.62|                            79574.56|                      16526.4|                                                6061.67|          22588.07|                                                     1646.0|                                           61402.16|                            28.39|
|  441|ODISHA|Nabarangapur|                                     46035.0|                                           1724.0|                                          3730.0|                                               1615.0|                       53104.0|                  2798.0|                             50306.0|                       5446.0|                                                 2918.0|            8364.0|                                                     6815.0|                                            38045.0|                             17.0|
|  421|ODISHA|     Bargarh|                                     38893.0|                                           4556.0|                                          1127.0|                                               4261.0|                       48837.0|                  2783.0|                             46054.0|                       9706.0|                                                 3180.0|           12886.0|                                                     4097.0|                                            32250.0|                             28.0|
|  442|ODISHA|    Nayagarh|                                     25801.0|                                           6297.0|                                          6747.0|                                               6714.0|                       45559.0|                  2877.0|                             42682.0|                       9224.0|                                                 2036.0|           11260.0|                                                     2854.0|                                            30604.0|                             26.0|
|  447|ODISHA|  Subarnapur|                                     17161.0|                                           2348.0|                                           607.0|                                               2531.0|                       22647.0|                  1218.0|                             21429.0|                       3443.0|                                                 1238.0|            4681.0|                                                     1843.0|                                            16143.0|                             22.0|
|  428|ODISHA|    Gajapati|                                     10985.0|                                           3549.0|                                          5802.0|                                               3673.0|                       24009.0|                  1339.0|                             22670.0|                       5769.0|                                                 1061.0|            6830.0|                                                     1302.0|                                            15599.0|                             30.0|
|  437|ODISHA|      Khurda|                                     27948.0|                                           7316.0|                                          8884.0|                                               6639.0|                       50787.0|                  3169.0|                             47618.0|                      11286.0|                                                 5341.0|           16627.0|                                                     8317.0|                                            28015.0|                             35.0|
|   87| BIHAR|       Saran|                                    61458.09|                                         11476.26|                                         8104.88|                                             14115.53|                      95154.76|                  8616.6|                            86538.16|                      47711.1|                                                9332.85|          57043.95|                                                     2316.0|                                           36511.06|                            65.92|
|   58| BIHAR|       Arwal|                                    14215.29|                                          5040.38|                                         1978.24|                                              3679.36|                      24913.27|                 2222.55|                            22690.72|                       8814.9|                                                1884.15|          10699.05|                                                      448.0|                                           13427.82|                            47.15|
|   60| BIHAR|       Banka|                                    40422.71|                                          7066.94|                                         7804.28|                                              2402.29|                      57696.22|                 5613.03|                            52083.19|                      11728.8|                                                4154.66|          15883.46|                                                     1199.0|                                           39155.39|                             30.5|
|   66| BIHAR|   Darbhanga|                                     48113.4|                                          5124.21|                                         7547.95|                                              6015.35|                      66800.91|                 4611.29|                            62189.62|                      22714.6|                                                9096.32|          31810.92|                                                     2308.0|                                           37167.02|                            51.15|
|   82| BIHAR|       Patna|                                    71244.76|                                         13927.82|                                        10351.51|                                             20319.74|                     115843.83|                11584.38|                           104259.45|                      36622.1|                                               13051.46|          49673.56|                                                     3419.0|                                           64218.35|                            47.64|
|  426|ODISHA|     Deogarh|                                     13351.0|                                           4256.0|                                             0.0|                                               4566.0|                       22173.0|                  1544.0|                             20629.0|                       3116.0|                                                  652.0|            3768.0|                                                     1020.0|                                            16493.0|                             18.0|
|  432|ODISHA|  Jharsuguda|                                     14605.0|                                           1572.0|                                             0.0|                                               1600.0|                       17777.0|                   986.0|                             16791.0|                       3984.0|                                                 1459.0|            5443.0|                                                     1830.0|                                            10977.0|                             32.0|
+-----+------+------------+--------------------------------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------------+------------------------------+------------------------+------------------------------------+-----------------------------+-------------------------------------------------------+------------------+-----------------------------------------------------------+---------------------------------------------------+---------------------------------+
only showing top 20 rows

### using multiple filter conditions

In [58]:
from pyspark.sql.functions import *
df_new.filter((df_new.state=='PUNJAB') & (df_new.Projected_demand_for_Domestic_and_Industrial_uses_upto_2025 > 5000)).select(df_new.district).show()

+---------+
| district|
+---------+
|  Patiala|
| Ludhiana|
| Amritsar|
|Jalandhar|
|   Mohali|
|Gurdaspur|
+---------+

###  state wise ratio of annual natual discharge and net annual ground water availability in descending order

In [59]:
d2=df_new.groupBy('state').agg(round((sum(df_new.Annual_Natural_Discharge)/sum(df_new.Net_Annual_Ground_Water_Availability))*100,0).alias('annual natural discharge to net annual ground water availability ratio'))
d2.orderBy(d2['annual natural discharge to net annual ground water availability ratio'].desc()).show()

+--------------------+----------------------------------------------------------------------+
|               state|annual natural discharge to net annual ground water availability ratio|
+--------------------+----------------------------------------------------------------------+
|          LAKSADWEEP|                                                                 201.0|
|                 GOA|                                                                  67.0|
|           KARNATAKA|                                                                  15.0|
|              KERALA|                                                                  11.0|
|             MIZORAM|                                                                  11.0|
|           MEGHALAYA|                                                                  11.0|
|           TAMILNADU|                                                                  11.0|
|           RAJASTHAN|                                                                  11.0|
|      CHANDIGARH(UT)|                                                                  11.0|
|               ASSAM|                                                                  11.0|
|   ARUNACHAL PRADESH|                                                                  11.0|
|               DELHI|                                                                  11.0|
|             MANIPUR|                                                                  11.0|
|          PUDUCHERRY|                                                                  11.0|
|            NAGALAND|                                                                  11.0|
|DADRA NAGAR & HAVELI|                                                                  11.0|
|              PUNJAB|                                                                  11.0|
|   ANDAMAN & NICOBAR|                                                                  11.0|
|         WEST BENGAL|                                                                  10.0|
|             HARYANA|                                                                  10.0|
+--------------------+----------------------------------------------------------------------+
only showing top 20 rows

### aggregation on multiple columns

In [60]:
d3=df_new.select(['state','district','Ground_Water_Availability_for_Future_Irrigation_use']).groupBy('state','district').agg(round(min(df_new.Ground_Water_Availability_for_Future_Irrigation_use),1).alias('minimum ground water availability for future irrigation use'))
d3.orderBy(d3['minimum ground water availability for future irrigation use'].asc()).show()

+--------------+---------------+-----------------------------------------------------------+
|         state|       district|minimum ground water availability for future irrigation use|
+--------------+---------------+-----------------------------------------------------------+
|        PUNJAB|        Sangrur|                                                  -194037.0|
|        PUNJAB|      Jalandhar|                                                  -143499.0|
|        PUNJAB|        Patiala|                                                  -138803.0|
|        PUNJAB|       Ludhiana|                                                  -134069.0|
|        PUNJAB|           Moga|                                                  -125299.0|
|       HARYANA|    Kurukshetra|                                                   -94516.0|
|        PUNJAB|     Kapurthala|                                                   -78511.0|
|       HARYANA|        Kaithal|                                                   -68845.0|
|        PUNJAB|      Ferozepur|                                                   -61481.0|
|        PUNJAB|        Barnala|                                                   -58117.0|
|        PUNJAB|Fatehgarh Sahib|                                                   -53670.0|
|       HARYANA|      Fatehabad|                                                   -52943.0|
|        PUNJAB|     Tarn Taran|                                                   -48381.0|
|       HARYANA|          Sirsa|                                                   -47922.0|
|        PUNJAB|       Amritsar|                                                   -47391.0|
|       HARYANA|        Bhiwani|                                                   -43690.0|
|        PUNJAB|      Gurdaspur|                                                   -39799.0|
|        PUNJAB|          Mansa|                                                   -39791.0|
|        PUNJAB|       Faridkot|                                                   -37157.0|
|MADHYA PRADESH|         Ratlam|                                                   -21775.0|
+--------------+---------------+-----------------------------------------------------------+
only showing top 20 rows